.ss{
    position: relative;
    left: 194px;
    bottom: 32px;

}
.so{
    height: 550px;
}
.qq{
    background-color: #d9bf5bb5;
}
.ww{
    position: relative;
    top: -4px;
    right: 6px;
    font-size: 19px;
    background-color: #448275;
}
.ca1{
    position: relative;
    left: 307px;
}
.ca2{
    position: relative;
    left: 12px;
}
.ca3{
    position: relative;
    left: 582px;
    bottom: 270px;
}